RUST_LOG='oci_checker=debug'
URL='https://oci.ee/cart?fid=5' # 要监控的库存URL
#PROXIES='http://127.0.0.1:2081,http://127.0.0.1:3080' # 代理，多个代理使用英文逗号分割
REQUEST_TIMEOUT=10 # 请求超时（秒）
TG_CHAT_ID='<YOU TG CHAT ID>' # 接受通知的 CHAT ID，通常就是用户的 TG ID
TG_BOT_TOKEN='<YOUR TG BOT TOKEN>' # TG 机器人 TOKEN
CHECK_DURATION_MIN=6 # 每次检查最小间隔时间（秒）
CHECK_DURATION_MAX=12 # 每次检查最大间隔时间（秒）
IF_GET_STOCK_FAILED_SEND_MSG=true # 当获取库存失败时，是否发送 TG 通知
SKIP_NOTIFY_STOCK_NUM=1 # 低于此值，将不发送通知